.bg-img {
  background-image: url("/assets/backgrounds/jonathan-borba-21tOEaJPM_o-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.bg-input {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(210, 210, 210, 1) 74%
  );
}

.card-recovery {
  width: 30vw;

  > .recovery-form,
  .form-field {
    width: 100%;
  }
}
