<mat-grid-list cols="2" rowHeight="100vh">
  <mat-grid-tile class="bg-img"></mat-grid-tile>
  <mat-grid-tile class="bg-input"
    ><mat-card class="card-recovery">
      <form
        [formGroup]="recoveryForm"
        (submit)="recoveryPassword()"
        fxLayout="column"
        fxLayoutAlign="center center"
        class="recovery-form"
      >
        <mat-form-field class="form-field" color="accent">
          <mat-label> E-Mail </mat-label>
          <input matInput formControlName="email" autocomplete="off" />
        </mat-form-field>
        <button
          mat-raised-button
          color="accent"
          type="submit"
          [disabled]="!recoveryForm.valid"
        >
          Enviar e-mail para troca de senha
        </button>
      </form>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
